<%- include('header') -%>
    <main>
      <div class="container bg-primary p-3 my-2">
        <div class="row">
          <div class="col-md-12">
            <form method="post" action=<%= (edit) ? `/products/Edit/${product.id}` : "/products/add" %>>
              <p>
                <label for="title">Product title</label>
                <input type="text" class="form-control" value="<%=(edit)?product.title :" "  %>" name="title" />
                <label for="image">image</label>
                <input type="text" class="form-control" value="<%=(edit)?product.image :" "  %>" name="image" />
                <label for="price">price</label>
                <input type="number" step=".01" min="1" max="10" pattern="[1-9](\.\d{1,2})?|10(\.0{1,2})?" class="form-control" value="<%=(edit)?product.price :" "  %>" name="price" />
                <label for="description">description</label>
                <input type="text" class="form-control" value="<%=(edit)?product.description :" "  %>" name="description" />
                <label for="rating">rating</label>
                <select id="rating" class="form-control" %>" name="rating">
                  <option value=1 <%=(edit && product.rating === 1)?'selected':''%>>One</option>
                  <option value=2 <%=(edit && product.rating === 2)?'selected':''%>>Two</option>
                  <option value=3 <%=(edit && product.rating === 3)?'selected':''%>>Three</option>
                  <option value=4 <%=(edit && product.rating === 4)?'selected':''%>>Four</option>
                  <option value=5 <%=(edit && product.rating === 5)?'selected':''%>>Five</option>
                </select>              </p>
                <% if (categories.length != 0) { %>
                  <p>
                    <label for="category">Category</label>
                    <select class="form-control" name="Category">
                      <option value=" ">Select Category</option>
                      <% categories.forEach(category => { %>
                        <option <%= edit && category.dataValues.id === product.CategoryId ? 'selected' : '' %> value="<%= category.dataValues.id %>"><%= category.dataValues.title %></option>
                      <% }); %>
                    </select>
                  </p>
                <% } %>                
                  
              <% if(edit){ %>
                <button class="btn btn-warning">Edit Product</button>
                <% }else{ %>
                <p>
                <button class="btn btn-warning">Add Product</button>
              </p>
              <% } %>
            </form>
          </div>
        </div>
      </div>
    </main>
  </body>
  <%- include('footer') %>
</html>
